$bgWhite: #fff;
$bgColor-b: #ffe68e;
$bgHeader: #0078ad;
$bgHeader-b: #0c5273;
$textWhite: #fff;
$textBlack: #000;

.h1Size {
  font-size: 48px;
}
.h2Size {
  font-size: 36px;
}
.h3Size {
  font-size: 24px;
}
.smPara {
  font-size: 14px;
}
.mdPara {
  font-size: 17px;
}
.xlPara {
  font-size: 20px;
}
.xxlPara {
  font-size: 23px;
}
.smBold {
  font-weight: 500;
}
.mdBold {
  font-weight: 600;
}
.xlBold {
  font-weight: 700;
}

a {
  text-decoration: none !important;
}

* {
  font-family: "Poppins", serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.top-header {
  .main-header {
    padding: 20px 100px;
    background-color: $bgHeader;
    .logo-mall {
      background-color: rgb(219, 8, 8);
      height: 40px;
      width: 40px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .head-location {
      cursor: pointer;
      padding: 5px 12px;
      border-radius: 20px;
      &:hover {
        background-color: $bgHeader-b;
      }
      span {
        font-size: 16px;
      }
    }
    .head-inputbox {
      width: 50%;
      justify-content: space-between;
      background-color: $bgHeader-b;
      padding: 12px 15px;
      border-radius: 30px;
      .cursor-pointer {
        cursor: pointer;
      }
      .product-inputbox {
        width: 80%;
        background-color: transparent;
        border: none;
        outline: none;
        color: $textWhite;
        &:placeholder {
          color: $textWhite;
        }
        &:-moz-placeholder {
          color: $textWhite;
        }
        &::-webkit-input-placeholder {
          color: $textWhite;
        }
      }
    }
  }
  .main-nav{
    background-color: $bgHeader-b;
    padding: 0 100px;
    .main-navlist{
        list-style: none;
        .navlistitems{
            cursor: pointer;
            font-size: 15px;
            position: relative;
            padding: 15px 0;
            .grocerieslistitems, .homeLifestylelistitems, .electronicslistitems, .fashionlistitems, .industryProfessListItems, .preciousjewelleryItems, .wellnessItems{
                display: none;
                flex-direction: column;
                gap: 4px;
                position: absolute;
                top: 52px;
                left: -10px;                
                color: #000;
                background: #fff;
                width: 230px;
                padding: 5px 0 10px 5px;
                box-shadow: 0 0 5px #aea8a8;
                border-radius: 10px;
                font-size: 15px;
                .grocerieslist-items, .home-lifestylelist-items, .electronicslist-items, .fashionlist-items, .industryProfessList-items, .preciousjewelleryList-items, .wellnessList-items{
                    padding:7px 10px 7px 15px;
                    border-radius: 25px 0 0 25px;
                    &:hover{
                        background-color: #e0fae9;
                    }
                }
                &:hover{display: flex;}
            }
        }
    }
  }
}


#groceriesItems:hover{
    #ingroceriesItems{
        border-bottom: 3px solid #5ecefa;
    }
    .grocerieslistitems{display: flex;}
}
#homeLifestyleItems:hover {
    #inhomeLifestyleItems{
        border-bottom: 3px solid #5ecefa;
    }
    .homeLifestylelistitems{display: flex;}
}

#electronicsItems:hover{
    #inelectronicsItems{
        border-bottom: 3px solid #5ecefa;
    }
    .electronicslistitems{display: flex;}
}

#fashionItems:hover{
  #infashionItems{
    border-bottom: 3px solid #5ecefa;
  }
  .fashionlistitems{display: flex;}
}

#industrialItems:hover{
  #inindustrialItems{
    border-bottom: 3px solid #5ecefa;
  }
  .industryProfessListItems{display: flex;}
}

#jewelleryItems:hover{
  #injewelleryItems{
    border-bottom: 3px solid #5ecefa;
  }
  .preciousjewelleryItems{display: flex;}
}

#wellnessItems:hover{
  #inwellnessItems{
    border-bottom: 3px solid #5ecefa;
  }
  .wellnessItems{display: flex;}
}


#groceriesItems{
  position: relative;
  #packagedFoodGroceries, #vegfruitsGroceries, #cookessentialGroceries, #dairybackeryGroceries, #personalcareGroceries, #beautyGroceries{
    .biscuitsdrinksubItems, .fruitsvegsubItems, .cookessentialsubItems, .dairybakerysubItems, .personalcaresubItems, .beautysubItems{
      display: none;
      flex-direction: column;
      gap: 12px;
      position: absolute;
      top: 0;
      left: 230px;                
      color: #000;
      background: #fff;
      width: 230px;
      padding: 15px 20px;
      box-shadow: 0 0 5px #aea8a8;      
      font-size: 15px;
      min-height: 300px;
      .biscuitsdrinkList-subitems, .fruitsvegList-subitems, .cookessentialList-subitems, .dairybakeryList-subitems, .personalcareList-subitems, .beautyList-subitems{
        transition: 0.4s;
        &:hover{
          color: #0c5273;
          transform: scale(1.03);
          font-weight: 500;
        }
      }
    }
  }
}


#packagedFoodGroceries:hover{
  .biscuitsdrinksubItems{
    display: flex !important;
  }
}

#vegfruitsGroceries:hover{
  .fruitsvegsubItems{
    display: flex !important;
  }
}

#cookessentialGroceries:hover{
  .cookessentialsubItems{
    display: flex !important;
  }
}

#dairybackeryGroceries:hover{
  .dairybakerysubItems{
    display: flex !important;
  }
}

#personalcareGroceries:hover{
  .personalcaresubItems{
    display: flex !important;
  }
}

#beautyGroceries:hover{
  .beautysubItems{
    display: flex !important;
  }
}









// Index Page first Slider Section CSS

.main-pagetop-section{
  padding: 40px 0;
  .main-page-slide{
    overflow: hidden;
    padding: 10px 20px;
    position: relative;
    .main-slide-container{
      display: flex;
      align-items: center;
      gap: 15px;
      .slide{
        width: 360px;
        
        img{
          width: 360px;
          box-shadow: 0 0 6px #bcb8b8;
          border-radius: 20px;
        }
      }
    }
    .slide-move-btn{
      .next-btn{
        position: absolute;
        top: 110px;
        right: 20px;
        height: 35px;
        width: 35px;
        background-color: #e0fae9;
        border-radius: 50%;
        display: flex;
        cursor: pointer;
        align-items: center;
        justify-content: center;
        span{
          font-size: 20px;
          color: #5e5b5b;
        }
      }
      .prev-btn{
        position: absolute;
        top: 110px;
        left: 20px;
        height: 35px;
        width: 35px;
        background-color: #e0fae9;
        border-radius: 50%;
        display: flex;
        cursor: pointer;
        align-items: center;
        justify-content: center;
        span{
          font-size: 20px;
          color: #5e5b5b;
        }
      }
    }
  }
}